.header {
  display: grid;
  width: 1340px;
  grid-template-columns: repeat(2, 2fr) 1fr;
  justify-content: space-between;
  align-items: center;
  margin: 92px auto 93px;
  column-gap: 200px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 3px;
  width: 388px;
  flex-shrink: 0;
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.circle_indent {
  text-indent: 5px;
  list-style-type: circle;
}

.list-style-none {
  list-style-type: none;
}

.contacts {
  width: 240px;
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
}

.a_decoration {
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.logo-black {
  justify-self: center;
  width: 148px;
  height: 105px;
}

.image-content {
  display: block;
  margin-left: 7px;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url("../images/cover.jpg");
  width: 1440px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  z-index: 10;
}

.overlay {
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  margin: auto;
  opacity: 0.6;
  z-index: 100;
}

.cover_title {
  position: relative;
  color: #fff;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 100px */
  letter-spacing: 30px;
  text-transform: uppercase;
  width: 1340px;
  margin: 174px 50px 135px;
  z-index: 1000;
}

.aligned_text {
  display: block;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-text_center {
  display: block;
  text-align: center;
  padding-top: 26px;
}

.aligned-text_right {
  display: block;
  text-align: right;
  padding-top: 20px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover-description {
  align-items: center;
  display: flex;
  justify-content: end;
  column-gap: 78px;
  margin-bottom: 50px;
  z-index: 1000;
}

.cover-description-text {
  color: #fff;
  text-align: center;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  word-spacing: 17px;
  flex-shrink: 0;
}

.bet-button {
  color: #fff;
  text-align: center;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  width: 257px;
  padding: 12px 0;
  flex-shrink: 0;
  border: 1px solid #fff;
  background: transparent;
  margin-right: 50px;
  margin-left: 5px;
}

.lots_heading {
  margin: 0px 1179px 27px 40px;
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.lots {
  padding: 180px 50px;
}

.lots_card-list {
  display: flex;
  list-style: none;
  margin-bottom: 30px;
  flex-wrap: wrap;
  gap: 25px;
}

.lots_card-list-item {
  position: relative;
  flex-basis: 430px;
  min-height: 450px;
  flex-grow: 1;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 50px 40px;
  background-size: cover;
  background-position: center;
}

.card_title {
  position: relative;
  z-index: 1000;
  color: #fff;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card_text {
  position: relative;
  z-index: 1000;
  color: #fff;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots_look-more-links {
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px 1108px 2px 40px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 25px;
  max-width: 1340px;
  margin: 0 auto;
}

.about_column {
  display: flex;
  flex-direction: column;
}

.about_logo {
  display: flex;
  align-self: center;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 120px;
}

.logo_image {
  width: 148px;
  height: 114px;
  flex-shrink: 0;
}

.about_title {
  margin-top: 105px;
  margin-bottom: 96px;
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about_text {
  display: block;
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about_text_container {
  display: flex;
  flex-direction: column;
  height: 240px;
  width: 885px;
  justify-content: space-between;
}

.footer {
  display: grid;
  grid-template-columns: 240px 149px 240px;
  width: 1340px;
  margin: 183px auto 90px;
  justify-content: space-between;
}

.footer_menu-list {
  color: #000;
  text-align: center;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer_menu-link_active {
  text-decoration: none;
}

.footer_social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_social-icon {
  height: 48px;
  width: 48px;
}
